<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta property="og:title" content="やぎさんゆうびん">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{.OgpImage}}">
    <meta property="og:description" content="{{.Body}}">
    <link rel="manifest" href="/static/manifest.json" />
    <link rel="stylesheet" href="/static/App.css">
    <title>やぎさんゆうびん</title>
  </head>
  <body>
    <div class="App">
      <div class="Header">
        <a href="{{.MainUrl}}">やぎさんゆうびん</a>
      </div>
      <div class="Menu">
        <div class="Box">          
          {{ range .Body }}
            <div>{{.}}&nbsp;</div>
          {{ end }}
        </div>
        <hr />
        <div>
          {{ range .AnswerBody }}
            <div>{{.}}&nbsp;</div>
          {{ end }}
        </div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="{{.ShortAnswerBody}}" data-show-count="false">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <hr />
      <div class="Small">
        このサービスはβ版です / 作者 : 末路ちゃん(<a href="https://twitter.com/nemucure">@nemucure</a>) 
      </div>
    </div>
  </body>
</html>